<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSRequiresAquaSystemAppearance</key>
	<true/>
 	<key>CFBundleIconFile</key>
 	<string>OBS-Live.icns</string>
 	<key>CFBundleName</key>
 	<string>OBS-Live</string>
 	<key>CFBundleGetInfoString</key>
 	<string>OBS-Live</string>
 	<key>CFBundleExecutable</key>
 	<string>OBS-Live</string>
 	<key>CFBundleIdentifier</key>
 	<string>com.ultra-stream.obs-live</string>
 	<key>CFBundlePackageType</key>
 	<string>APPL</string>
 	<key>CFBundleSignature</key>
 	<string>????</string>
 	<key>LSMinimumSystemVersion</key>
 	<string>10.8.5</string>
 	<key>NSHighResolutionCapable</key>
 	<true/>
 	<key>LSAppNapIsDisabled</key>
 	<true/>
 	<key>NSCameraUsageDescription</key>
 	<string>OBS-Live needs to access the camera to enable camera sources to work.</string>
 	<key>NSMicrophoneUsageDescription</key>
 	<string>OBS-Live needs to access the microphone to enable audio input.</string>
</dict>
</plist>
